@import "header-top-mixin";

.header-top {
  background-color: #f1f8ff;
  padding: 5px 0 0;

  .wrap {
    @include flexMargin(0, auto, space-between);
    max-width: 1440px;
    width: 100%;

    .left {
      ul {
        .active {
          a {
            background-color: #fff;
            color: #212f3d;
          }
        }

        li {
          display: inline-block;
          vertical-align: top;

          a {
            @include headerItem(15x, 20px, 12px, 12px)
          }
        }
      }
    }

    .middle {
      a.specialFeatureBtn {
        @include headerItem(12px, 20px, 12px, 24px);
        @include headerItemHover(18px);
      }
    }

    .right {
      @include flexMargin(0, -20px, space-between);
      align-items: center;
      min-width: 300px;

      ul.region {
        font-size: 0;
        line-height: 0;
        margin: 0 -12px;

        li {
          @include headerDropdownItem(inline-block);

        }
      }

      .cabinet {
        position: relative;
      }
    }
  }

}

@media only screen and (max-width: 992px) {
  .header-top {
    display: none;
  }
}